# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OSMnx cache
cache/
.osmnx_cache/

# OS
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/
*.swp
